@model IEnumerable<MunicipalityManagement.Models.Report>

@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Report</h1>

<p>
    <a asp-action="Create" class="btn btn-primary ">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citizen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citizen.FullName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ReportID" class="btn btn-info">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ReportID" class="btn btn-success">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ReportID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
